<!--

  Copyright (C) 2004,2005, 2006 by the Massachusetts Institute of Technology.
  All rights reserved.
 
  Export of this software from the United States of America may
    require a specific license from the United States Government.
    It is the responsibility of any person or organization contemplating
    export to obtain such a license before exporting.
 
  WITHIN THAT CONSTRAINT, permission to use, copy, modify, and
  distribute this software and its documentation for any purpose and
  without fee is hereby granted, provided that the above copyright
  notice appear in all copies and that both that copyright notice and
  this permission notice appear in supporting documentation, and that
  the name of M.I.T. not be used in advertising or publicity pertaining
  to distribution of the software without specific, written prior
  permission.  Furthermore if you modify this software you must label
  your software as modified software and not distribute it in such a
  fashion that it might be confused with the original M.I.T. software.
  M.I.T. makes no representations about the suitability of
  this software for any purpose.  It is provided "as is" without express
  or implied warranty.
  
  -->

<!-- configuration -->
<?include config.wxi?>
<?include platform.wxi?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package
        Codepage="$(var.CodePage)"
        Language="$(var.Language)"
        Manufacturer="!(loc.Manufacturer)"
        Name="$(var.ProductName)"
        UpgradeCode="$(var.UpgradeCode)"
        Version="$(var.VersionString)"
        InstallerVersion="$(var.InstallerVersion)">

        <SummaryInformation
            Keywords="Installer,MSI,Database"
            Description="$(var.ProductName)"
            Manufacturer="!(loc.Manufacturer)"
            Codepage="$(var.CodePage)"
            />
        
        <?include lang\ui_$(var.BuildLang).wxi?>
        <?include files.wxi?>
        <?include features.wxi?>
        <?include property.wxi?>
        
        <!-- Launch conditions -->
        <Launch Condition="Privileged" Message="!(loc.AdminRequired)" />
        <Launch Condition="VersionNT &gt;= 501" Message="!(loc.OsVersionRequired)" />
        <Launch Condition="(Not (VersionNT = 501)) Or (ServicePackLevel &gt;= 3)" Message="!(loc.OsXPSP3)" />
        <Launch Condition="(Not (VersionNT = 600)) Or (ServicePackLevel &gt;= 2)" Message="!(loc.OsVistaSP2)" />
        <Launch Condition="USELEASH Or USENETIDMGR" Message="!(loc.CMNotSelected)" />
        <Launch Condition="Not (USELEASH And USENETIDMGR)" Message="!(loc.CMDupSelected)" />
        <?if $(sys.BUILDARCH) = "x64" ?>
            <Launch Condition="VersionNT64" Message="!(loc.StrPlatform64)" />
        <?endif?>

        <!-- Custom actions -->
        <Binary Id="binCustom" SourceFile="custom\custom.dll" />
        
        <CustomAction 
            Id="EnableTgtSessionKey"
            BinaryRef="binCustom"
            DllEntry="EnableAllowTgtSessionKey"
            Execute="deferred"
            Impersonate="no"
            Return="check" />
        <Property Id="EnableTgtSessionKey" Value="$(var.VersionString)" />

        <CustomAction 
            Id="RevertTgtSessionKey"
            BinaryRef="binCustom"
            DllEntry="RevertAllowTgtSessionKey"
            Execute="deferred"
            Impersonate="no"
            Return="check" />
        <Property Id="RevertTgtSessionKey" Value="$(var.VersionString)" />

        <CustomAction 
            Id="RollbackTgtSessionKey"
            BinaryRef="binCustom"
            DllEntry="RevertAllowTgtSessionKey"
            Execute="rollback"
            Impersonate="no"
            Return="check" />
        <Property Id="RollbackTgtSessionKey" Value="$(var.VersionString)" />

	<CustomAction 
            Id="RemoveNsisInstallation" 
            BinaryRef="binCustom"
            DllEntry="UninstallNsisInstallation"
            Execute="immediate" />

	<CustomAction
            Id="AbortCantRemoveNSIS" 
            Value="[CantRemoveNSISError]" 
            Property="CantRemoveNSISError" />

	<CustomAction
            Id="AbortNoIE"
            Value="[NoIE501Error]" 
            Property="NoIE501Error" />
            
        <CustomAction
            Id="ListRunningProcesses"
            BinaryRef="binCustom"
            DllEntry="ListRunningProcesses"
            Execute="immediate"
            Return="ignore" />
            
        <CustomAction
            Id="KillRunningProcesses"
            BinaryRef="binCustom"
            DllEntry="KillRunningProcesses"
            Execute="immediate"
            Return="ignore" />

        <CustomAction
          Id="InstallNetProvider"
          BinaryRef="binCustom"
          DllEntry="InstallNetProvider"
          Impersonate="no"
          Execute="deferred" />

        <CustomAction
          Id="RemoveNetProvider"
          BinaryRef="binCustom"
          DllEntry="UninstallNetProvider"
          Impersonate="no"
          Return="ignore"
          Execute="deferred" />

        <CustomAction Id="RenameKrb5Ini_Cmd"
         Property="RenameKrb5Ini"
         Value="&quot;cmd.exe&quot; /c rename &quot;[WindowsFolder]\krb5.ini&quot; krb5-ini-pre-kfw4"
         Execute="immediate" />

        <CustomAction
         Id="RenameKrb5Ini"
         BinaryRef="Wix4UtilCA_X86"
         DllEntry="WixQuietExec"
         Execute="deferred"
         Impersonate="no"
         Return="ignore" />

        <CustomAction
         Id="RollbackNetProvider"
         BinaryRef="binCustom"
         DllEntry="UninstallNetProvider"
         Return="ignore"
         Execute="rollback" />
	
	<!-- Installation Sequences -->
	<AdminExecuteSequence />
        <InstallExecuteSequence>
	<Custom Action="ListRunningProcesses" Before="KillRunningProcesses" />
	<Custom Action="KillRunningProcesses" Before="InstallValidate"/>
	<RemoveExistingProducts After="InstallValidate" Condition="(Not Installed) And (UPGRADEPISMERE Or UPGRADEKFW Or UPGRADEKFW64)" />
	<Custom Action="RenameKrb5Ini_Cmd" Before="RenameKrb5Ini"/>
	<Custom Action="RenameKrb5Ini" Before="InstallFinalize" Condition="SYSTEMKRB5INI &lt;&gt; &quot;&quot;" />
	<!-- When running with a UI, CCP_Success property is not passed down to the server. -->
	<Custom Action="AbortNoIE" Before="RemoveNsisInstallation" Condition="UILevel = 0 And (Not Installed) And (CCP_Success &lt;&gt; 1)" />
	<Custom Action="RemoveNsisInstallation" Before="AbortCantRemoveNSIS" Condition="UPGRADENSIS &lt;&gt; &quot;&quot; And UILevel &gt;= 4" />
	<Custom Action="AbortCantRemoveNSIS" Before="CostInitialize" Condition="UPGRADENSIS &lt;&gt; &quot;&quot; And UILevel &lt; 4" />
        <Custom Action="RollbackTgtSessionKey" After="WriteRegistryValues" Condition="VersionNT &gt;= 500 And &amp;feaKfwClient=3" />
        <Custom Action="EnableTgtSessionKey" After="RollbackTgtSessionKey" Condition="VersionNT &gt;= 500 And &amp;feaKfwClient=3" />
        <Custom Action="RevertTgtSessionKey" Before="RemoveRegistryValues" Condition="VersionNT &gt;= 500 And &amp;feaKfwClient=2" />

        <Custom Action="RollbackNetProvider" After="EnableTgtSessionKey" Condition="&amp;feaKfwClient=3" />
        <Custom Action="InstallNetProvider" After="RollbackNetProvider" Condition="&amp;feaKfwClient=3" />
        <Custom Action="RemoveNetProvider" After="InstallNetProvider" Condition="&amp;feaKfwClient=2" />
        <ScheduleReboot After="InstallFinalize" />
        </InstallExecuteSequence>

        <!-- Upgrade paths -->

        <!-- MIT Project Pismere MSI -->
        <Upgrade Id="83977767-388D-4DF8-BB08-3BF2401635BD">
            <UpgradeVersion IgnoreRemoveFailure="no" IncludeMinimum="no" Maximum="4.0.0" MigrateFeatures="no" Property="UPGRADEPISMERE"/>
        </Upgrade>
        
        <!-- KfW MSI -->
        <Upgrade Id="61211594-AAA1-4A98-A299-757326763CC7">
            <UpgradeVersion IgnoreRemoveFailure="no" IncludeMinimum="no" Maximum="$(var.VersionString)" IncludeMaximum="yes" MigrateFeatures="yes" Property="UPGRADEKFW" />
        </Upgrade>

        <!-- KfW 64-bit MSI -->
        <Upgrade Id="6DA9CD86-6028-4852-8C94-452CAC229244">
            <UpgradeVersion IgnoreRemoveFailure="no" IncludeMinimum="no" Maximum="$(var.VersionString)" IncludeMaximum="yes" MigrateFeatures="yes" Property="UPGRADEKFW64" />
        </Upgrade>

        <!-- NSIS installation -->
        <!-- The NSIS installation, being non-MSI, is detected and removed through other means. -->
        
        <!-- Check and warn if we don't have the right version of IE installed -->
        <ComplianceCheck>
            <DirectorySearch Id="ccd_iphlpapi" Depth="1" Path="[SystemFolder]">
                <FileSearch Id="cc_iphlp" MinDate="1999-04-23T00:00:00-05:00" Name="iphlpapi.dll" />
            </DirectorySearch>
        </ComplianceCheck>
        
        <!-- We embed all the files in a single cabinet. -->
        <Media Id="1" Cabinet="Disk1" CompressionLevel="high" EmbedCab="yes" />
        
        <!-- Custom table used by KillProcesses custom action -->
        <CustomTable Id="KillProcess">
            <Column Id="Id" PrimaryKey="yes" Nullable="no" Type="string" Width="32" />
            <Column Id="Image" Nullable="no" Type="string" Width="255" />
            <Column Id="Desc" Nullable="yes" Type="string" Width="255" />
            
            <Row>
                <Data Column="Id" Value="kpLeash" />
                <Data Column="Image" Value="leash32.exe" />
                <Data Column="Desc" Value="Leash Ticket Manager" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpNetIDMgr" />
                <Data Column="Image" Value="netidmgr.exe" />
                <Data Column="Desc" Value="Network Identity Manager" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpKrbcc" />
                <Data Column="Image" Value="krbcc32s.exe" />
                <Data Column="Desc" Value="Kerberos Credential Cache" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpKrbcc64" />
                <Data Column="Image" Value="krbcc64s.exe" />
                <Data Column="Desc" Value="Kerberos Credential Cache" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpK95" />
                <Data Column="Image" Value="k95.exe" />
                <Data Column="Desc" Value="Kermit 95" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpK95g" />
                <Data Column="Image" Value="k95g.exe" />
                <Data Column="Desc" Value="Kermit 95 GUI" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpkrb5" />
                <Data Column="Image" Value="krb5.exe" />
                <Data Column="Desc" Value="Kerberos Client" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpgss" />
                <Data Column="Image" Value="gss.exe" />
                <Data Column="Desc" Value="GSSAPI Test Client" />
            </Row>
            <Row>
                <Data Column="Id" Value="kpafscreds" />
                <Data Column="Image" Value="afscreds.exe" />
                <Data Column="Desc" Value="AFS Credentials Manager" />
            </Row>
            <Row>
                <Data Column="Id" Value="kccapiserver" />
                <Data Column="Image" Value="ccapiserver.exe" />
                <Data Column="Desc" Value="Credentials Cache API Server" />
            </Row>
            <Row>
                <Data Column="Id" Value="kMITKerberos" />
                <Data Column="Image" Value="MIT Kerberos.exe" />
                <Data Column="Desc" Value="MIT Kerberos Ticket Manager" />
            </Row>
        </CustomTable>
    </Package>
</Wix>
 
